output/kinetic/Z_eff/*
output/kinetic/imp_dens/*
output/kinetic/tot_imp_dens/*
output/fluid/Z_eff/*
output/fluid/imp_dens/*
output/fluid/tot_imp_dens/*
output/*
__pycache__/ImpZeff.cpython-39.pyc
.DS_Store
__pycache__/rates.cpython-39.pyc
*.xml
settings.json
*.pyc
*.iml
imp_data/Tungsten/W0+->W1+.dat
imp_data/Tungsten/W1+->W2+.dat
imp_data/Tungsten/W2+->W3+.dat
imp_data/Tungsten/W3+->W4+.dat
imp_data/Tungsten/W4+->W5+.dat
imp_data/Tungsten/W5+->W6+.dat
imp_data/Tungsten/W5+->W6+.ps
imp_data/Tungsten/W6+->W7+.dat
imp_data/Tungsten/W7+->W8+.dat
imp_data/Tungsten/W8+->W9+.dat
imp_data/Tungsten/W9+->W10+.dat
imp_data/Tungsten/W10+->W11+.dat
imp_data/Carbon/FAC_data/c1.lev
imp_data/Carbon/FAC_data/c1.ci
imp_data/Carbon/FAC_data/c1_ex.ce
imp_data/Carbon/FAC_data/c1_c2.lev
imp_data/Carbon/nist_spontem_crude_avg.txt
imp_data/Carbon/nist_spontem_crude_sum.txt
imp_data/Carbon/nist_spontem.OLD.txt
imp_data/Argon/Ar01_LANLdata/dwilev.Ar01
imp_data/Argon/Ar01_LANLdata/eielev.Ar01
imp_data/Argon/Ar01_LANLdata/ionlev.Ar01
imp_data/Argon/Ar01_LANLdata/struct.Ar01
legacy/*
.idea
.idea/*
.gitignore
# .gitattributes